@import "./src/assets/styles/variables";

body, #root, .layout, .site-layout-content{
  height: 100%;
}

.site-layout-content {
  min-height: $mh-main-content;
  padding: $sp-2;
  background: $color-white;
}
