@import "./src/assets/styles/variables";

body,
#root,
.layout,
.siteLayoutContent {
  height: 100%;
}

.siteLayoutContent {
  min-height: $mh-main-content;
  padding: $sp-2;
  background: $color-white;
}
